@import url(https://fonts.googleapis.com/css?family=Economica|IM+Fell+Great+Primer);


body {
  background: linear-gradient(to right, rgb(142, 158, 171), rgb(238, 242, 243));
}

.App {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Economica', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Bungee'
}

.App-intro {
  font-size: large;
}